# Ignorar arquivos específicos
antigo/

# Arquivos e diretórios comuns a ignorar em projetos Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv

# Logs e temporários
*.log
*.tmp
*.swp
.DS_Store

# Arquivos de ambiente virtual
venv/
.env

# Configurações de IDE
.vscode/
.idea/

data/

*.h5
*.keras